.link-wrapper{
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgb(215 220 225) 0px 2px 0px 0px;
    margin-bottom: 10px;
    padding: 10px 0px 1px 10px;
}
.input-field{
  height: 80%;
  height: 100%;
  width: 100%;
}

.link-input,.label-input{
    width: 95%;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    appearance: none;
    border: 0px;
    color: rgb(61, 68, 75);
    height: 20px;
    margin-bottom: 0px;
    padding: 0px;
}
.label-input:focus{
    outline: none;
    font-weight: 600;
}
.link-input:focus{
    outline: none;
    font-size: 13px;
    font-weight: 600;
}
.link-form{
    width: 100%;
    height: auto;
    display: flex;
}

.input-wrapper{
    display: flex;
    margin-bottom: 3px;
}


.link-bottom{
    height: 40px;
    position: relative;
}
.others-field{
    width: auto;
}
.button-start{
    justify-content: start;
    align-items:baseline;
    width: auto;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    appearance: none;
    border: 0px;
    color: rgb(61, 68, 75);
    height: 20px;
    margin: 0px;
    padding: 0px;
}
.delete-button{
    color: rgba(77, 71, 71, 0.655);
    right: 38px;
    bottom: 6px;
    position: absolute;
}

.delete-button:hover{
   color: red;
   cursor: pointer;
} 

.link-active,.label-active{
    display: flex;
}

.link-disabled,.label-disabled{
  display: none;
} 
.link-input-active,.label-input-active{
    display: block;
}

.link-input-disabled,.label-input-disabled{
    display: none;
}
.switch:hover{
  cursor: grab !important;
} 

.linkerror{
    color:red;
}