.link-wrapper{
    width: 100%;
}
.input-field{
  height: 80%;
  height: 100%;
  width: 100%;
}


.input-tag:focus{
    outline: none;
}

.link-input,.label-input{
    width: 95%;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    appearance: none;
    border: 0px;
    color: rgb(61, 68, 75);
    height: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
}
.label-input:focus,.link-input:focus{
    outline: none;
}
.link-form{
    width: 100%;
    height: 50px;
    display: flex;
}

.input-wrapper{
    display: flex;
}
.real-input-link,.real-input-title{
    width: 96%;
}

.link-bottom{
    height: 40px;
    display: flex;
    position: relative;
}
.others-field{
    width: auto;
}
.button-start{
    justify-content: start;
    align-items: center;
    width: 95%;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    appearance: none;
    border: 0px;
    color: rgb(61, 68, 75);
    height: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
}
.delete-button{
    color: rgba(152, 1, 1, 0.655);
    right: 40px;
    position: absolute;
}

.delete-button:hover{
   color: red;
   cursor: pointer;
} 

.link-active,.label-active{
    display: flex;
}

.link-disabled,.label-disabled{
  display: none;
} 
.link-input-active,.label-input-active{
    display: block;
}

.link-input-disabled,.label-input-disabled{
    display: none;
}
