body {
    margin: 0;
    padding: 0;

    background-color: rgb(226, 226, 226);
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
    color: rgb(79, 79, 79);
}

.verify-mail {
    background-color: #fff;
    border-radius: 5px;

    width: 40%;
    padding: 4%;
    margin: 4% auto 0;
}

.main-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#btn {
    border-radius: 3px;
    padding: 1%;
}

#btn:hover {
    background-color: rgb(220, 220, 220);
}