* {
    margin: 0;
    padding: 0;
}

.login {
    background-image: url(./loginImages/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.card {
    border-radius: 0;

    background: linear-gradient(to bottom right, #003366 0%, #00ffff 100%);
    width: 30%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(8, 6, 6, 0.2), 0 6px 20px 0 rgba(135, 135, 135, 0.19);

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

    position: fixed;
    right: 16%;
    top: 10%;
}

.card h1 {
    /* border: 2px solid orange; */
    font-family: 'Merriweather', serif;
    /* font-family: 'Sacramento', cursive; */
    margin: 5% auto 0;
}

.form-element {
    height: 80%;
    margin: 8% 0 0 0;
    padding: 23% 0 0 10%;

    font-weight: 600;
    border-top: 2px dashed black;
}

#username {
    margin-left: 3%;
}

#password {
    margin-left: 5%;
}

#btn {
    border: 2px solid rgb(0, 122, 193);
    border-radius: 10px;

    /* This is main box shadow values */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 2% 5%;
    font-size: 125%;
    font-weight: bolder;
    background-color: rgb(122, 244, 249);
}

#btn:hover {
    /* border-color: rgb(3, 3, 132); */
    border-color: rgb(2, 100, 156);
    /* border-color: yellow; */
}